# User History Time Series

Notebook used to create time series of the video watching history data that you got from TikTok’s user_data.json file contains timestamps of when videos were watched. Creates a single time series with all users (each with a different color) that shows their usage of TikTok over time, subset for 10/7 - 12/7

**Author: Audrey Yip**

In [1]:
import os
import pandas as pd

In [2]:

df = pd.read_csv
df

TypeError: dirname() missing 1 required positional argument: 'p'

In [5]:
cwd = os.getcwd()
filepath = 
for file in os.listdir((f'{cwd}/../pre-processing/url-json-oct7')):
    print(file)

Sec2Gr3_77217.json
.DS_Store

In [14]:
json_data = pd.read_json(f'{cwd}/../pre-processing/url-json-oct7/Sec2Gr3_77217.json')
df = pd.json_normalize(json_data['VideoList'])
df.head()

                  Date                                               Link
0  2023-12-06 23:58:36  https://www.tiktokv.com/share/video/7308913410...
1  2023-12-06 23:58:30  https://www.tiktokv.com/share/video/7299469698...
2  2023-12-06 23:58:26  https://www.tiktokv.com/share/video/7309289501...
3  2023-12-06 23:57:56  https://www.tiktokv.com/share/video/7306241104...
4  2023-12-06 23:57:47  https://www.tiktokv.com/share/video/7308781653...

                                               VideoList
0      {'Date': '2023-12-06 23:58:36', 'Link': 'https...
1      {'Date': '2023-12-06 23:58:30', 'Link': 'https...
2      {'Date': '2023-12-06 23:58:26', 'Link': 'https...
3      {'Date': '2023-12-06 23:57:56', 'Link': 'https...
4      {'Date': '2023-12-06 23:57:47', 'Link': 'https...
...                                                  ...
19220  {'Date': '2023-10-07 02:29:18', 'Link': 'https...
19221  {'Date': '2023-10-07 02:29:16', 'Link': 'https...
19222  {'Date': '2023-10-07 02:29:06', 'Link': 'https...
19223  {'Date': '2023-10-07 02:28:58', 'Link': 'https...
19224  {'Date': '2023-10-07 02:28:31', 'Link': 'https...

[19225 rows x 1 columns]